<%- include("../partials/header") -%>

<div class="jumbotron bg-light" style="margin-top: 15px;">
  <h1 class="display-4">Overzicht voor <%= currentUser.username %> </h1>
  <p class="lead text-dark">Dit is de overzichtspagina. Deze pagina is de wegwijzer tussen de verschillende onderdelen.</p>
  <hr class="my-4">
  <p class="text-dark">Het aantal onderdelen die nu beschikbaar zijn is nog laag maar dat zal gelijdelijk aan uitgebreid worden.</p>
</div>

<%- include("../partials/footer") -%>
