<%- include("../partials/header") -%>

<!-- buttons -->
<div class="row justify-content-end buts">
    <a href="/users/login" class="btn btn-light btn-sm">Inloggen</a><span> </span>
    <a href="/users/register" class="btn btn-light btn-sm">Registreren</a>
</div>

<div class="w80">
    <!-- messaging -->
    <% if(error && error.length>0) { %>
        <p><div class="user messageError"><%= error %></div></p>
    <% } %>
        <% if(success && success.length>0) { %>
        <p><div class="user messageSuccess"><%= success %></div></p>
    <% } %>

    <!-- Welkom -->
    <div class="row justify-content-start">
        <div class="col"><p>Welkom op deze server.</p></div>
    </div>
    <div class="row justify-content-start">
        <div class="col">Om verder te gaan is verificatie vereist. Klik op inloggen als je reeds inloggegevens hebt, of op registreren als je toegang wenst.</div>
    </div>


    <!-- LinkTable -->
    <div style="margin-top: 50px;"> 
        <div class="row">
            <div class="col" style="text-align: center;">ALGEMENE LINKS</div>
        </div>
        <div class="row justify-content-start">
            <div class="col"><a Target="_Blank" href="https://www.npostart.nl/nos-journaal-2000-uur/NOSjnl2000"><img src="/images/npo.png" class="img-fluid"alt="npostart logo"> NOS Journaal 20.00 uur</a></div>
            <div class="col"><a Target="_Blank" href="http://85.150.72.244:8096/"><img src="/images/emby.png" class="img-fluid" alt="emby logo"> Emby</a></div>
        </div>
        <div class="row justify-content-start">
            <div class="col"><a Target="_Blank" href="https://www.npostart.nl/goedemorgen-nederland/POW_03333061"><img src="/images/npo.png" class="img-fluid" alt="npostart logo"> Goedemorgen Nederland</a></div>
            <div class="col"><a Target="_Blank" href="http://192.168.1.5:8096/"><img src="/images/emby.png" class="img-fluid" alt="emby logo"> Emby lokaal</a></div>
        </div>
        <div class="row justify-content-start">
            <div class="col"><a Target="_Blank" href="https://www.npostart.nl/kassa/VARA_101377663"><img src="/images/npo.png" class="img-fluid" alt="npostart logo"> Kassa</a></div>
            <div class="col"></div>
        </div>
        <div class="row justify-content-start">
            <div class="col"><a Target="_Blank" href="https://www.npostart.nl/radar/AT_2046090"><img src="/images/npo.png" class="img-fluid" alt="npostart logo"> Radar</a></div>
        </div>
        <div class="row justify-content-start">
            <div class="col"><a Target="_Blank" href="https://www.npostart.nl/keuringsdienst-van-waarde/KN_1678993"><img src="/images/npo.png" class="img-fluid" alt="npostart logo"> Keuringsdienst van Waarde</a></div>
        </div>
    </div>

    <%- include("../partials/footer") -%>