<%- include("../partials/header") -%>

<!-- buttons -->
<div class="row justify-content-end buts">
    <a href="/users/login" class="btn btn-light btn-sm">Inloggen</a><span> </span>
    <a href="/users/register" class="btn btn-light btn-sm">Registreren</a>
</div>

<div class="w80">
    <!-- messaging -->
    <% if(error && error.length>0) { %>
        <p><div class="user messageError"><%= error %></div></p>
    <% } %>
        <% if(success && success.length>0) { %>
        <p><div class="user messageSuccess"><%= success %></div></p>
    <% } %>

    <!-- Welkom -->
    <div class="row justify-content-start">
        <div class="col"><p>Welkom op deze server.</p></div>
    </div>
    <div class="row justify-content-start">
        <div class="col"><p>Om verder te gaan is verificatie vereist. Klik hieronder op inloggen als je reeds inloggegevens hebt, of op registreren als je toegang wenst.</p></div>
    </div>


</div>
<%- include("../partials/footer") -%>