body {
    background-image: url("/images/HamburgerHill.jpg");
    color: #ffffff;
}

.buts {
    margin-top: 15px;
}

.w80 {
    margin-top: 15px;
    width: 80%;
    align-self: auto;
}

/* Flash-messages */
.messageError {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.messageSuccess {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn {
    margin: 7px;
}

.row {
    margin: 5px 0px;
}
